<!DOCTYPE html>
<html>
  <head>
    <title>NBA Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <header class="site-header navbar-light bg-white shadow-sm sticky-top py-2">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a href="/index">
        <img style="height: 120px; width: 70px" src="images/nba_PNG20.png" alt="nba" class="img-thumbnail">
      </a>
<!--      <img style="height: 120px " src="images/nba_PNG20.png" alt="nba" class="img-thumbnail">-->
      <a class="py-5 navbar-brand text-center container" aria-label="">
        <h2 class="text-secondary">NBA Management System</h2>
      </a>

    </nav>
  </header>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <p class="lead text-muted">Welcome to use this NBA Management System, you can redirect to different pages according to your role by clicking the buttons below.</p>
          <p>
            <a href="/visitor" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              </svg> Visitor</a>
            <a href="/admin" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hammer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.812 1.952a.5.5 0 0 1-.312.89c-1.671 0-2.852.596-3.616 1.185L4.857 5.073V6.21a.5.5 0 0 1-.146.354L3.425 7.853a.5.5 0 0 1-.708 0L.146 5.274a.5.5 0 0 1 0-.706l1.286-1.29a.5.5 0 0 1 .354-.146H2.84C4.505 1.228 6.216.862 7.557 1.04a5.009 5.009 0 0 1 2.077.782l.178.129z"/>
                <path fill-rule="evenodd" d="M6.012 3.5a.5.5 0 0 1 .359.165l9.146 8.646A.5.5 0 0 1 15.5 13L14 14.5a.5.5 0 0 1-.756-.056L4.598 5.297a.5.5 0 0 1 .048-.65l1-1a.5.5 0 0 1 .366-.147z"/>
              </svg> Admin</a>
          </p>
        </div>
      </div>
    </section>

    <div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center bg-white">
      <div class="col-md-10 p-lg-7 mx-auto my-1">
        <h1 class="display-5 fw-normal text-dark"></h1>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-sm-4">
        <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="images/user4.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
        <p>Kanye West</p>
        <h5 class="text-dark"></h5>

      </div>
      <div class="col-sm-4">
        <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="images/user1.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
        <p>Craig Federighi</p>
        <h5 class="text-dark"></h5>

      </div>
      <div class="col-sm-4">
        <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="images/user2.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
        <p>Tim Cook</p>
        <h5 class="text-dark"></h5>

      </div>
    </div>
  </main>

  <hr class="featurette-divider">

  <footer class="py-1 container bg-primary">

    <a class="navbar-brand text-center container" aria-label="">
      <h6 class="text-white">The current version is 2016-2017, and the NBA already has a history of 71 years</h6>
    </a>
  </footer>

  </body>
</html>
