<!DOCTYPE html>
<html>
<head>
    <title>Teams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<header class="site-header navbar-light bg-white shadow-sm sticky-top py-2">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a href="/index">
            <img style="height: 120px; width: 70px" src="images/nba_PNG20.png" alt="nba" class="img-thumbnail">
        </a>
        <a class="py-5 navbar-brand text-center container" href="" aria-label="">
            <h2 class="text-secondary">Teams</h2>
        </a>

    </nav>
</header>

<main>

    <div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center bg-white">
        <div class="col-md-10 p-lg-7 mx-auto my-1">
            <h1 class="display-5 fw-normal text-dark"></h1>
        </div>
    </div>


    <style>
        .tabs {
            font-size: 0;
        }

        .tabs>input[type="radio"] {
            display: none;
        }

        .tabs>div {
            /* скрыть контент по умолчанию */
            display: none;
            border: 1px solid #e0e0e0;
            padding: 10px 15px;
            font-size: 16px;
        }

        /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
        #tab-btn-1:checked~#content-1,
        #tab-btn-2:checked~#content-2,
        #tab-btn-3:checked~#content-3 {
            display: block;
        }

        .tabs>label {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: #f5f5f5;
            border: 1px solid #e0e0e0;
            padding: 2px 8px;
            font-size: 16px;
            line-height: 1.5;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
            cursor: pointer;
            position: relative;
            top: 1px;
        }

        .tabs>label:not(:first-of-type) {
            border-left: none;
        }

        .tabs>input[type="radio"]:checked+label {
            background-color: #fff;
            border-bottom: 1px solid #fff;
        }
    </style>

    <div class="tabs">
        <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
        <label for="tab-btn-1">Western</label>
        <input type="radio" name="tab-btn" id="tab-btn-2" value="">
        <label for="tab-btn-2">Eastern</label>

        <div id="content-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="content-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<hr class="featurette-divider">
<footer class="py-1 container bg-primary">

    <a class="navbar-brand text-center container" aria-label="">
        <h6 class="text-white">The current version is 2016-2017, and the NBA already has a history of 71 years</h6>
    </a>
</footer>

</body>
</html>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

