<!DOCTYPE html>
<html>
<head>
    <title>Visitor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header class="site-header navbar-light bg-white shadow-sm sticky-top py-2">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a href="/index">
            <img style="height: 120px; width: 70px" src="images/nba_PNG20.png" alt="nba" class="img-thumbnail">
        </a>
        <a class="py-5 navbar-brand text-center container" href="" aria-label="">
            <h2 class="text-secondary">Visitor Menu</h2>
        </a>

<!--        <a class="container d-flex flex-column flex-md-row justify-content-between" href="/visitor" aria-label="">-->
<!--            <button type="button" class="btn btn-primary" style="display: block; margin-left: auto;">ОБРАТНО</button>-->
<!--        </a>-->


    </nav>
</header>
<!--    <h1>NBA</h1>-->
<!--    <p>Добро пожаловать</p>-->
<!--  <div class="row">-->
<!--    <form>-->
<!--      <button>Форма для администратора</button>-->
<!--      <button>Посетители</button>-->
<!--    </form>-->
<!--  </div>-->
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
<!--                <p class="lead text-muted">Welcome to use this NBA Management System, you can redirect to different pages according to your role by clicking the buttons below.</p>-->
                <p>
                    <a href="/teams" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sort-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 13a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5z"/>
                            <path fill-rule="evenodd" d="M5.354 4.854a.5.5 0 0 0 0-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L3 3.207l1.646 1.647a.5.5 0 0 0 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 9a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                        </svg> Teams</a>
                    <a href="/players" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                        </svg> Players</a>
                </p>
                <p>
                    <a href="" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg> Match Ups</a>
                    <a href="" class="btn btn-primary btn-lg"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10z"/>
                            <path d="M10.648 8.646a.5.5 0 0 1 .577-.093l1.777 1.947V14h-12v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                            <path fill-rule="evenodd" d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
                        </svg> Photos</a>
                </p>

            </div>
        </div>
    </section>

    <div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center bg-white">
        <div class="col-md-10 p-lg-7 mx-auto my-1">
            <h1 class="display-5 fw-normal text-dark"></h1>
        </div>
    </div>

<!--    <div class="row" align="center">-->
<!--        <div class="col-sm-4">-->
<!--            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>-->
<!--            <p></p>-->
<!--            <h5 class="text-dark"></h5>-->

<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>-->
<!--            <p></p>-->
<!--            <h5 class="text-dark"></h5>-->

<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>-->
<!--            <p></p>-->
<!--            <h5 class="text-dark"></h5>-->

<!--        </div>-->
<!--    </div>-->



</main>
<hr class="featurette-divider">
<footer class="py-1 container bg-primary">

    <a class="navbar-brand text-center container" aria-label="">
        <h6 class="text-white">The current version is 2016-2017, and the NBA already has a history of 71 years</h6>
    </a>
</footer>

</body>
</html>
